body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

#seat-map {
    display: grid;
    grid-template-columns: repeat(6, 50px);
    gap: 10px;
    justify-content: flex-end; /* Move seat map to the right side of the screen */
}

#seat-map div:nth-child(3n+4) {
    margin-right: 5px; /* Reduce gap between 3rd and 4th columns */
}

.seat {
    width: 50px;
    height: 50px;
    background-color: #d3d3d3; /* Light grey */
    border-radius: 50%;
    border: 1px solid #000;
    text-align: center;
    line-height: 50px;
    color: #333333; /* Very dark grey */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

.seat:hover {
    transform: scale(1.1);
}

.seat.selected {
    background-color: #a9a9a9; /* Slightly darker grey */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#flight-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

#save-seats {
    margin-top: 20px;
    align-self: flex-start;
}

#seat-map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}